{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <div>
        <ul class="navbar-top">
            <li class="navbar-li">
                <p style="font-weight: bold;">NFL Plays</p>
            </li>
            {% if authenticated %}
                <li class="navbar-item">
                    <a href="{{ url_for('search') }}">Search!</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('account', email=email) }}">Account</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('logout') }}">Log Out</a>
                </li>
                <li class="navbar-item">
                    <p>Welcome, {{ fname }}!</p>
                </li>
                {% if isAdmin %}
                <p>You have the following admin powers:</p>
                <li class="navbar-item">
                    <a href="{{ url_for('admin_remove_user') }}">Remove a user</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('admin_edit_play') }}">Edit a play</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('admin_add_play') }}">Add a play</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('admin_delete_play') }}">Delete a play</a>
                </li>
                {% endif %}
            {% else %}
                <li class="navbar-item">
                    <a href="{{ url_for('login') }}">Login</a>
                </li> 
                <li class="navbar-item">
                    <a href="{{ url_for('register') }}">Register</a>
                </li>
            {% endif %}

        </ul>
    </div>
{% endblock %}