{% extends 'base.html' %}

{% block title %}
Search Results
{% endblock %}

{% block content %}
    <div>
        <a href="{{ url_for('search') }}">Back to Search</a>
    </div>
    <div>
        <table>
            <tr>
                <th>Game ID</th> 
                <th>Play ID</th> 
                <th>Description</th>
                <th>Play Type</th>
                <th>Posession Team</th>
                <th>Posession Team Type</th>
                <th>Yards Gained</th>
                <th>Side of Field</th>
                <th>Yardline</th>
                <th>QTR</th>
                <th>Time</th>
                <th>Win %</th>
                <th>Down</th>
                <th>Yards to go</th>
                <th>Actions</th>
            </tr>
            {% for row in rows %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                    <td>{{ row[11] }}</td>
                    <td>{{ row[12] }}</td>
                    <td>{{ row[13] }}</td>
                    <td>
                        <a href="{{ url_for('save', email=email, game_id=row[0], play_id=row[1]) }}">Save</a>, 
                        <a href="{{ url_for('index') }}">Update</a>, 
                        <a href="{{ url_for('index') }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}