{% extends 'base.html' %}

{% block title %}
Search Results
{% endblock %}

{% block content %}
    <div>
        <a href="{{ url_for('search') }}">Back to Search</a>
    </div>
    <div>
        <table>
            <tr>
                <th>Game ID</th>
                <th>Play ID</th>
                <th>Pass Length</th>
                <th>Pass Location</th>
                <th>Air Yards</th>
                <th>Yards After Catch</th>
                <th>Passer</th>
                <th>Receiver</th>
                <th>Complete?</th>
                <th>Actions</th>
            </tr>
            {% for row in rows %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ "No" if row[7] else "Yes" }}</td>
                    <td>
                        <a href="{{ url_for('save', email=email, game_id=row[0], play_id=row[1]) }}">Save</a>, 
                        <a href="{{ url_for('index') }}">Update</a>, 
                        <a href="{{ url_for('index') }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}